@using AJSolutions.Models
@model AJSolutions.Models.AssetGroup
@{
    ViewBag.Title = "AddAssetGroup";
    Layout = "~/Areas/CMS/Views/Shared/_Layout.cshtml";
    List<AssetGroup> assets = ViewData["AssetGroupList"] as List<AssetGroup>;
}
<div class="si-sticky toast-top-left topmargin-sm">
    <a href="#" class="social-icon si-rounded si-colored si-aim si-small" onclick="pagehelp();" title="Help For You">
        <i class="icon-question"></i>
        <i class="icon-question"></i>
    </a>
</div>
@using (Html.BeginForm("AddAssetGroup", "Payroll", FormMethod.Post, new { @area = "PMS", @class = "form-horizontal needs-validation", id = "AssetGroup", role = "form" }))
{
    @Html.AntiForgeryToken()
    @*@Html.Hidden("SaveStatus", ViewBag.Result as string)*@
    <div class="form-process"></div>
    <div class="container">
        <div id="contact-form-overlay" class="clearfix">
            <div class="row">
                <div class="form-process"></div>
                <div class="fancy-title title-bottom-border">
                    <h3>Add Assets Group</h3>
                </div>
                <div class="col_half">
                    @Html.LabelFor(model => model.AssetGroupName, "Asset Group")<small>*</small>
                    <div class="input-group divcenter">
                        <span class="input-group-addon"><i class="object-group"> </i></span>
                        @Html.EditorFor(model => model.AssetGroupName, new { htmlAttributes = new { @class = "form-control required", id = "AssetGroupName", placeholder = "Enter Asset Group Name" } })
                    </div>
                </div>

                <input type="submit" id="AssetGroup" value="Add" class="button button-3d button-rounded button-teal" style="float:right" />
                @Html.Hidden("AssetGroupId", ViewBag.AssetGroup as string)
            </div>

            @if (assets.Count > 0)
            {
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered nobottommargin">
                            <tr>
                                <th>Asset Groups Name</th>
                                <th>ACTIONS</th>
                            </tr>

                            @foreach (var item in assets)
                            {
                                <tr>
                                    <td>@item.AssetGroupName</td>
                                    <td>
                                        <a href="@Url.Action("AddAssetGroup", "Payroll", new { AssetGroupId = item.AssetGroupId, UserAction = "Edit" })" title="Edit"><i class="icon-pencil"></i>|</a> 
                                        <a href="#" id="Remove" onclick="javascript: ConfirmationDialog('@item.AssetGroupId');" title="Remove"><i class="icon-trash"></i> </a>
                                    </td>
                                </tr>
                            }


                        </table>
                    </div>
                </div>
            }
        </div>

    </div>
    @Html.Hidden("RedirectTo", Url.Action("RemoveAssetGroup", "Payroll"));
    @Html.Hidden("RedirectToHome", Url.Action("AddAssetGroup", "Payroll"));
}
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="Popup">
    <div class="modal-dialog modal-lg">
        <div class="modal-body">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Help</h4>
                </div>
                <div class="modal-body" id="moBody">

                    <div class="container-fluid">
                        <div class="col_half">
                            <p>
                                This page has facility of adding assets group.
                            </p>

                        </div>
                        <div class="col_half col_last">
                            <div class="feature-box center media-box fbox-bg">
                                <div class="fbox-media">

                                    <a href="~/images/HelpImages/assetgroupadd.png" target="_blank" data-lightbox="gallery-item">
                                        <img src="~/images/HelpImages/assetgroupadd.png" />
                                    </a>


                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#AssetGroup").validate({
        submitHandler: function (form) {
            $('.form-process').fadeIn()
            $(form).ajaxSubmit({
                success: function () {
                    $('.form-process').fadeOut()
                    $.alert({
                        title: 'Cheers',
                        content: 'Asset Group Added <b> SUCCESSFULLY.</b>',
                        confirmButton: 'OK',
                        confirmButtonClass: 'btn btn-primary',
                        icon: 'fa fa-thumbs-up fa-2x',
                        animation: 'zoom',
                        confirm: function () {
                            var url = $("#RedirectToHome").val();
                            location.href = url;
                        }
                    });
                }
            });
        }
    });

    function ConfirmationDialog(AssetGroupId) {
        $.confirm({
            title: 'Confirmation',
            content: 'Are you sure you want to delete?',
            confirmButton: 'Yes',
            confirmButtonClass: 'btn-info',
            cancelButton: 'No',
            cancelButtonClass: 'btn-warning',
            icon: 'fa fa-question-circle fa-2x',
            animation: 'scale',
            animationClose: 'top',
            confirm: function ()
            {
                var url = $("#RedirectTo").val() + "?AssetGroupId=" + AssetGroupId;
                location.href = url;
            }
        });
        return false;
    }
    function pagehelp() {
        $('#Popup').modal('show');
        $("#Popup").modal({
            backdrop: 'static',
            keyboard: false,
        })
    };
</script>