@using AJSolutions.Models;
@model IEnumerable<BiometricCheckInCheckOut>
@{
    ViewBag.Title = "BioMetricResult";
    AJSolutions.Models.UserViewModel user = ViewData["UserProfile"] as AJSolutions.Models.UserViewModel;
    if (user.Role != "Employee")
    {
        Layout = "~/Areas/CMS/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Areas/EMS/Views/Shared/_Layout.cshtml";
    }
}
@using (Html.BeginForm("BioMetricResult", "Payroll", FormMethod.Post, new { area = "PMS", @class = "form-horizontal needs-validation", id = "BioMetricResult", role = "form" }))
{
    @Html.Hidden("SId", user.UserId as string);
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="form-process"></div>

        <div class="col_one_fourth">
            <label>Select Month</label>
                @Html.DropDownList("Month", null, "Select Month", htmlAttributes: new { @class = "form-control", id = "Mon" })
            @*<label>Select Range</label>
            <div class="input-group divcenter">
                <span class="input-group-addon"><i class="icon-calendar"> </i></span>
                <input type="text" class="form-control daterange4" value="" id="Schedule" />
            </div>*@
        </div>
        <div class="col_one_fourth">
            <label>Select Department</label>
            <div class="input-group divcenter">
                <span class="input-group-addon"><i class="icon-link"> </i></span>
                @Html.DropDownList("DepartmentId", null, "--- Select Role ---", htmlAttributes: new { @class = "form-control", @id = "DepartmentId", placeholder = "Select Role" })
            </div>
        </div>
        <div class="col_one_fourth">
            <label>Select Employee</label>
            @Html.DropDownList("UserId", null, "Select Employee", htmlAttributes: new { @class = "form-control required", id = "UserId" })
        </div>
        <div class="col_one_fourth col_last">
            <br /><br />
            <button type="button" id="btnSearch" class="btn btn-green btnalignleft" onclick='GetData()'>Filter</button>&nbsp;
            <button type="button" class="btn btn-green btnalignleft" onclick="location.href='@Url.Action("BioMetricResult", "Payroll", new { Area = "PMS" })'">Clear</button>
            <button type="button" class="btn btn-green btnalignleft" onclick="DownloadReport()">Export</button>
        </div>
        <br /><br />
        @*<div class="col_half">
                <label>Select Range</label>
                <div class="input-group divcenter">
                    <span class="input-group-addon"><i class="icon-calendar"> </i></span>
                    <input type="text" class="form-control daterange4" value="" id="Schedule" />
                </div>
            </div>
            <div class="col_half col_last">
                <br /> <button type="button" id="btnSearch" class="btn btn-green btnalignleft" onclick="GetData()" title="Search" style=" float: right">Get Attendance Data by Range</button>

            </div>*@

        <div class="col_full" id="BiometricData">

        </div>
    </div>
    @Html.Hidden("RedirectTo", Url.Action("DownloadEmployeeAttandance", "Payroll", new { area = "PMS" }))
}


<script>
    //function SendValue() {
    //    $.ajax({
    //        type: "post",
    //        url: "/PMS/Payroll/BioMetricResult",
    //        data: {
    //            Eid: $("#UserId").val(),
    //            Month: $("#Month").val()
    //        },
    //        datatype: "json",
    //        traditional: true,
    //        success: function (data) {
    //            if (data != null && data.length > 0) {
    //                $('#BiometricData').html(data);
    //            }
    //        }
    //    })
    //}

    function GetData() {

        $.ajax({
            type: "post",
            url: "/PMS/Payroll/BioMetricResult",
            data: {
                Eid: $("#UserId").val(),
                Month: $("#Mon").val(),
                Schedule: $("#Schedule").val(),
                DepartmentId: $("#DepartmentId").val()
            },
            datatype: "json",
            traditional: true,
            success: function (data) {
                if (data != null && data.length > 0) {
                    $('#BiometricData').html(data);
                }
            }
        })
    }
    function DownloadReport()
    {
        var Month = $("#Mon").val();
        var Eid = $("#UserId").val(); 
        var Schedule = $("#Schedule").val();
        var DepartmentId = $("#DepartmentId").val();
        var url = $("#RedirectTo").val() + "?Eid=" + Eid + "&Month=" + Month + "&Schedule=" + Schedule + "&DepartmentId=" + DepartmentId;
        location.href = url;
    }
</script>