@model AJSolutions.Models.BankDetails

@{
    ViewBag.Title = "Edit";
}

<section id="page-title">

    <div class="container clearfix">
        <h1></h1>
        <span>Edit bank Details</span>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Edit Bank Details</a></li>
        </ol>
    </div>

</section><!-- #page-title end -->
<section id="content">

    <div class="content-wrap">

        <div class="container">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <br />
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.UserId)

                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                        <div class="input-group divcenter">
                            @Html.LabelFor(model => model.BankName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <span class="input-group-addon"><i class="icon-email2"> </i></span>
                            @Html.EditorFor(model => model.BankName, new { htmlAttributes = new { @class = "form-control", placeholder = "Bank Name" } })
                            @Html.ValidationMessageFor(model => model.BankName, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-group divcenter">
                            @Html.LabelFor(model => model.AccountNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                            <span class="input-group-addon"><i class="icon-email2"> </i></span>
                            @Html.EditorFor(model => model.AccountNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Account Number" } })
                            @Html.ValidationMessageFor(model => model.AccountNumber, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-group divcenter">
                            @Html.LabelFor(model => model.AccountOwner, htmlAttributes: new { @class = "control-label col-md-2" })
                            <span class="input-group-addon"><i class="icon-email2">  </i></span>
                            @Html.EditorFor(model => model.AccountOwner, new { htmlAttributes = new { @class = "form-control", placeholder = "Account Owner" } })
                            @Html.ValidationMessageFor(model => model.AccountOwner, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-group divcenter">
                            @Html.LabelFor(model => model.IfscCode, htmlAttributes: new { @class = "control-label col-md-2" })
                            <span class="input-group-addon"><i class="icon-email2"> </i></span>
                            @Html.EditorFor(model => model.IfscCode, new { htmlAttributes = new { @class = "form-control", placeholder = " IFSC Code" } })
                            @Html.ValidationMessageFor(model => model.IfscCode, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-group divcenter">
                            @Html.LabelFor(model => model.BranchCode, htmlAttributes: new { @class = "control-label col-md-2" })
                            <span class="input-group-addon"><i class="icon-email2"> </i></span>
                            @Html.EditorFor(model => model.BranchCode, new { htmlAttributes = new { @class = "form-control", placeholder = "Branch Code" } })
                            @Html.ValidationMessageFor(model => model.BranchCode, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-group divcenter">
                            @Html.LabelFor(model => model.BranchAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                            <span class="input-group-addon"><i class="icon-email2"> </i></span>
                            @Html.EditorFor(model => model.BranchAddress, new { htmlAttributes = new { @class = "form-control", placeholder = "Address" } })
                            @Html.ValidationMessageFor(model => model.BranchAddress, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-group divcenter">
                            @Html.LabelFor(model => model.ContactNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                            <span class="input-group-addon"><i class="icon-email2"> </i></span>
                            @Html.EditorFor(model => model.ContactNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Contact Number" } })
                            @Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" value="Save" class="button button-3d button-rounded button-teal" style="float: right;" />
                    </div>
                </div>
            }
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
</section>