@using AJSolutions.DAL;
@using AJSolutions.Models;
@model AJSolutions.Areas.CMS.Models.JobOrderViewModel
@{
    ViewBag.Title = "JobOrder Details";
    Layout = "~/Areas/CMS/Views/Shared/_Layout.cshtml";
    var userId = ViewBag.userId as string;
    IEnumerable<JobOrderItemsView> JOItem = ViewData["JobOrderItems"] as IEnumerable<JobOrderItemsView>;
    bool IsClientView = ViewBag.IsClientView;
    var CountStr = "countdown-ex";
    AJSolutions.Models.UserViewModel user = ViewData["UserProfile"] as AJSolutions.Models.UserViewModel;
    List<JOCommentsForumView> JOComments = ViewData["JOComments"] as List<JOCommentsForumView>;
    List<JOReplyForumView> JOReplies = ViewData["JOReplies"] as List<JOReplyForumView>;
    List<AJSolutions.Models.JobOrderFinalAttachment> finalattachments = ViewData["FinalAttach"] as List<AJSolutions.Models.JobOrderFinalAttachment>;
    JobOrderAttachment content = ViewData["Content"] as JobOrderAttachment;
}
<br />
<div class="si-sticky toast-top-left topmargin-sm">
    <a href="#" class="social-icon si-rounded si-colored si-aim si-small" onclick="pagehelp();" title="Help For You">
        <i class="icon-question"></i>
        <i class="icon-question"></i>
    </a>
</div>

@using (Html.BeginForm())
{
    if (Model != null)
    {
        float itemTotal = 0;
        float GrandTotal = 0;
        if (@ViewBag.Message != null)
        {
            <div class="container">
                <div id="contact-form-overlay" class="clearfix">
                    <div class="feature-box fbox-center fbox-bg fbox-border fbox-effect">
                        <div class="fbox-icon">
                            <i class="icon-thumbs-down2"></i>
                        </div>
                        <h3>@ViewBag.Message<span class="subtitle"></span></h3>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="container">
                <div class="form-process"></div>
                <div id="contact-form-overlay" class="clearfix">
                    <div class="row">
                        <div class="col_one_third">
                            @if (user.Role != "Client")
                            {
                                if (Model.TotalCost > 0 || Model.JobOrderStatus == "Assigned" || Model.JobOrderStatus == "Inprogress" || Model.JobOrderStatus == "Completed" && user.Role != "Client")
                                {
                                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Invoice", new { area = "CMS", Id = Model.JobOrderNumber, InvoiceTo = Model.ClientId })'">Generate Invoice</button>
                                }
                            }
                        </div>
                        <div class="col_one_third"></div>
                        <div class="col_one_third col_last nobottommargin">
                            <center>
                                @if (Model.JobOrderStatus == "Unassigned" && user.Role != "Client")
                                {
                                    <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("JobOrderDetails", "JobOrder", new { area = "CMS", Id = Model.JobOrderNumber, IsClientView = IsClientView, JobOrderStatus = "Assigned" })'">Accept Job</button>
                                }
                                else if (Model.JobOrderStatus != "Completed" && user.Role != "Client" && Model.JobOrderStatus != "Rejected")
                                {
                                    <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("Task", "Task", new { area = "CMS", JobOrderNumber = Model.JobOrderNumber })'">Create Task</button>
                                }
                                @*else if (userId != Model.ClientId && Model.TotalTask != "0" && user.Role != "Client")
                                    {
                                        <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("MyTasks", "Task", new { area = "CMS", JobOrderNumber = Model.JobOrderNumber })'">@Model.TotalTask Tasks</button>
                                    }*@


                                    @* @Html.ActionLink("MyJobOrders", "JobOrder", "CMS", new { Id = item.JobOrderNumber, JobOrderStatus = "Assigned", IsClientView = IsClientView })*@




                                    @if (Model.JobOrderStatus == "Unassigned" && user.Role != "Client")
                                    {
                                        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("JobOrderDetails", "JobOrder", new { area = "CMS", Id = Model.JobOrderNumber, IsClientView = IsClientView, JobOrderStatus = "" })'">Reject Job</button>
                                    }
                                    else if ((Model.JobOrderStatus == "Inprogress" || Model.JobOrderStatus == "Assigned") && user.Role != "Client")
                                    {
                                        @*<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("JobOrderDetails", "JobOrder", new { area = "CMS", Id = Model.JobOrderNumber, IsClientView = IsClientView, JobOrderStatus = "Completed" })'">Job Done</button>*@
                                        <button type="button" class="btn btn-warning" onclick="Final('@Model.JobOrderNumber');">Job Done</button>
                                    }
                                    else if (Model.JobOrderStatus == "Rejected" && Model.TotalInv == "0" && user.Role != "Client")
                                    {
                                        @* <button type="button" class="btn btn-primary" style="float:right">Rejected</button>*@
                                        <label style="color:red">Rejected</label>
                                    }
                                    @*else if (userId != Model.ClientId && Model.TotalCost > 0 && Model.TotalInv != "0")
                                        {
                                            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("InvoiceDetails", "Invoice", new { area = "CMS", Id = Model.InvNo })'">View Invoice(s) <span>@Model.TotalInv</span> </button>
                                        }*@
                                    else if (Model.JobOrderStatus == "Completed")
                                    {
                                        <label>Completed</label>
                                    }
                                    else if (user.Role == "Client")
                                    {
                                        <label style="color:orange">@Model.JobOrderStatus</label>
                                    }
                                </center>
                                @*@if (Model.Duration > 0 && !(Model.JobOrderStatus == "Completed" || Model.JobOrderStatus == "Rejected"))
                                        {
                                            EndDate = Convert.ToDateTime(item.StartDate).AddDays(Convert.ToInt32(Model.Duration));
                                            if (EndDate >= DateTime.Now)
                                             {
                                                <center>Time Remaining</center>
                                                <div id='@CountStr' class="countdown"></div>

                                                <script>
                                                    jQuery(document).ready(function () {
                                                        var dd = @Model.StartDate.Value.Day;
                                                        var mm = @Model.StartDate.Value.Month -1;
                                                        var yyyy = @Model.StartDate.Value.Year;
                                                        var  newDate = new Date(yyyy, mm , dd);

                                                        var duration = parseInt(@Model.Duration);
                                                        newDate.setDate(newDate.getDate() + duration);
                                                        $('#@CountStr').countdown({ until: newDate });
                                                    });
                                                </script>

                                    }
                                            else
                                    {
                                                <center>
                                                    <label style="color:red">Time Up</label>
                                                </center>
                                    }
                                            }*@
                            </div>

                            <br />
                            <div class="col_two_third nobottommargin" style="text-align:left;">
                                <p style="align-self:flex-end"></p>
                                <h4>@Model.Subject</h4>
                            </div>

                            <div class="col_one_third col_last nobottommargin">
                                <center>
                                    @if (Model.Duration > 0 && Model.StartDate != null && !(@Model.JobOrderStatus == "Completed" || @Model.JobOrderStatus == "Rejected"))
                                    {
                                        DateTime EndDate = Convert.ToDateTime(@Model.StartDate).AddDays(Convert.ToInt32(@Model.Duration));
                                        if (EndDate >= DateTime.Now)
                                        {
                                            <center>Time Remaining</center>
                                            <div id='@CountStr' class="countdown"></div>
                                            <script>
                                                jQuery(document).ready(function () {
                                                    var dd = @Model.StartDate.Value.Day;
                                                    var mm = @Model.StartDate.Value.Month -1;
                                                    var yyyy = @Model.StartDate.Value.Year;
                                                    var  newDate = new Date(yyyy, mm , dd);

                                                    var duration = parseInt(@Model.Duration);
                                                    newDate.setDate(newDate.getDate() + duration);
                                                    $('#@CountStr').countdown({ until: newDate });
                                                });
                                            </script>

                                        }
                                        else
                                        {
                                            <center>
                                                <label style="color:red">Time Up</label>
                                            </center>
                                        }
                                    }
                                </center>
                            </div>
                            <br />
                            <div>
                                <hr width="100%" style="color:red;" />
                            </div>
                            @*<div class="fancy-title title-bottom-border" style="text-align:left;">
                                    <h3></h3>
                                </div>*@
                            <div class="col_full">
                                <ul class="entry-meta clearfix">
                                    @if (userId == Model.ClientId)
                                    {
                                        <li>
                                            <a href="#">
                                                <i class="icon-user"></i>
                                                @Model.SubscriberName

                                                @*else
                                                    {
                                                        @Model.ClientName
                                                    }*@
                                            </a>
                                        </li>
                                    }
                                    <li><a href="#"><i class="icon-folder-open"></i>@Model.JobOrderType</a></li>
                                    @if (Model.TotalTask != null)
                                    {
                                        <li><a href="#"><i class="icon-line-circle-check"></i> @Model.TotalTask</a></li>
                                    }
                                    <li><a href="#"><i class="icon-anchor"></i>@Model.JobOrderStatus</a></li>
                                    <li><a href="#"><i class="icon-check"></i>@Model.JobOrderNumber</a></li>
                                    @if (Model.JOPostedOn != null)
                                    {
                                        <li><a href="#"><i class="icon-calendar-1"></i>@Model.JOPostedOn.ToString("dd-MMM-yyyy")</a></li>
                                    }
                                    @if (Model.TotalTask != "0" && Model.TotalTask != null && user.Role != "Client")
                                    {
                                        <li><a href="@Url.Action("MyTasks", "Task", new { area = "CMS", JobOrderNumber = Model.JobOrderNumber })">@Model.TotalTask Tasks</a></li>
                                    }
                                    @if (Model.JobOrderStatus == "Inprogress" || Model.JobOrderStatus == "Completed" && Model.TotalCost > 0)
                                    {
                                        <li> <a href="@Url.Action("MyInvoices", "Invoice", new { area = "CMS" })" target="_blank"><i class="icon-bill"></i><span>@Model.TotalInv</span> Invoice(s)</a></li>
                                    }
                                    @if (content != null)
                                    {
                                        <li><a href="~/File/JobOrderAttachment?id=@content.FileId" alt="CV" target="_blank" title="Click here to download the attachment"><i class="icon-clip"></i></a></li>
                                    }
                                    @if (finalattachments != null)
                                    {
                                        foreach (var final in finalattachments)
                                        {
                                            if (final.JobOrderNumber == Model.JobOrderNumber)
                                            {
                                                <li><a href="~/File/JobOrderFinalAttachment?id=@final.FileId" alt="CV" target="_blank" title="Click here to download the attachment"><i class="icon-clip"></i>By Admin</a></li>
                                            }
                                        }
                                    }
                                    @if (Model.JobOrderStatus == "Unassigned")
                                    {
                                        if (user.CorporateId != null && user.CorporateId != user.SubscriberId)
                                        {
                                            <li> <a href="@Url.Action("Create", "JobOrder", new { JobOrderNumber = Model.JobOrderNumber, IsClientView = IsClientView })" title="Click here to edit job order"><i class="icon-pencil2"></i></a></li>
                                            <li><a href="#" id="Remove" onclick="javascript: ConfirmationDialog('@Model.JobOrderNumber');" title="Click here to remove job order"><i class="icon-trash"></i></a></li>
                                        }
                                        else if (userId == Model.ClientId && IsClientView == true)
                                        {
                                            <li> <a href="@Url.Action("Create", "JobOrder", new { JobOrderNumber = Model.JobOrderNumber, IsClientView = IsClientView })" title="Click here to edit job order"><i class="icon-pencil2"></i></a></li>
                                            <li><a href="#" id="Remove" onclick="javascript: ConfirmationDialog('@Model.JobOrderNumber');" title="Click here to remove job order"><i class="icon-trash"></i></a></li>
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="col_full">
                                <blockquote><p align="justify">@Model.Description</p></blockquote>
                            </div>
                            <div class="col_full">
                                <ul class="list-group col_half">
                                    @if (@Model.SalaryRange != null)
                                    {
                                        <li class="list-group-item">
                                            <span class="badge">@Model.SalaryRange &nbsp;&nbsp; (In Lakh)</span>
                                            <i class="icon-money"> </i> Salary:
                                        </li>
                                    }


                                    @if (Model.FunctionalPosition != null)
                                    {
                                        <li class="list-group-item">
                                            <span class="badge">@Model.FunctionalPosition</span>
                                            <i class="icon-book"> </i> FunctionalPosition:
                                        </li>
                                    }
                                    @if (Model.Industry != null)
                                    {
                                        <li class="list-group-item">
                                            <span class="badge">@Model.Industry</span>
                                            <i class="icon-building"> </i> Industry:
                                        </li>
                                    }
                                    @if (Model.InvNo != null)
                                    {
                                        <li class="list-group-item">
                                            <span class="badge">@Model.InvNo</span>
                                            <i class="icon-bill"> </i> Invoice No.:
                                        </li>
                                    }
                                    @if (Model.StartDate != null)
                                    {
                                        <li class="list-group-item">
                                            <span class="badge">@Model.StartDate.Value.ToString("dd-MMM-yyyy")</span>
                                            <i class="icon-bill"> </i> StartDate:
                                        </li>
                                    }
                                    @if (Model.ExpRange != null)
                                    {
                                        <li class="list-group-item">
                                            <span class="badge">@Model.ExpRange &nbsp; &nbsp; (In Year)</span>
                                            <i class="icon-plus"> </i> Experience Range:
                                        </li>
                                    }
                                    @if (Model.Duration != null && Model.Duration != 0)
                                    {
                                        <li class="list-group-item">
                                            <span class="badge">@Model.Duration &nbsp; (In Days)</span>
                                            <i class="icon-time"> </i> Duration:
                                        </li>
                                    }
                                    @*@if (Model.Accomodation != null)
                                        {
                                            <li class="list-group-item">
                                                <span class="badge">@Model.Accomodation</span>
                                                <i class="icon-folder-open"> </i> Accomodation:
                                            </li>
                                        }
                                        @if (Model.Attendance != null)
                                        {
                                            <li class="list-group-item">
                                                <span class="badge">@Model.Attendance</span>
                                                <i class="icon-line-circle-check"> </i> Attendance:
                                            </li>
                                        }*@
                                </ul>
                            </div>

                            @if (JOItem != null)
                            {
                                if (JOItem.Count() > 0)
                                {
                                    <div class="col_full">
                                        <div class="table-responsive bottommargin">
                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th class="cart-product-name">Entry Type</th>
                                                        <th class="cart-product-name">Entry Detail</th>
                                                        <th class="cart-product-price">Unit </th>
                                                        <th class="cart-product-quantity">Units Price <small>(in @Model.Currency)</small></th>
                                                        <th class="cart-product-duration">Duration <small>(in Days)</small></th>
                                                        <th class="cart-product-subtotal">Total Price <small>(in @Model.Currency)</small></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (JOItem != null)
                                                    {
                                                        foreach (var item in JOItem)
                                                        {
                                                            if (item.Duration != 0)
                                                            {
                                                                itemTotal = item.Unit * item.UnitPrice * item.Duration;
                                                            }
                                                            else
                                                            {
                                                                itemTotal = item.Unit * item.UnitPrice;
                                                            }

                                                            GrandTotal = GrandTotal + itemTotal;

                                                            <tr class="cart_item">
                                                                <td class="cart-product-name">
                                                                    <a href="#">@item.ItemTypeName</a>
                                                                </td>
                                                                <td class="cart-product-name">
                                                                    <a href="#">@item.ItemDescription</a>
                                                                </td>
                                                                <td class="cart-product-price">
                                                                    <span class="amount">@item.Unit</span>
                                                                </td>
                                                                <td class="cart-product-quantity">
                                                                    <div class="quantity clearfix">
                                                                        <span class="amount">@item.UnitPrice</span>
                                                                    </div>
                                                                </td>
                                                                <td class="cart-product-duration">
                                                                    <div class="quantity clearfix">
                                                                        @if (item.Duration == 0)
                                                                        { <span class="amount">NA</span>}
                                                                        else
                                                                        {<span class="amount">@item.Duration</span> }
                                                                    </div>
                                                                </td>

                                                                <td class="cart-product-subtotal">
                                                                    <span class="amount">@itemTotal</span>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="row clearfix">
                                            <div class="col-md-6 clearfix">

                                            </div>
                                            <div class="col-md-6 clearfix">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-striped">
                                                        <tbody>
                                                            <tr class="cart_item">
                                                                <td class="cart-product-name">
                                                                    <strong> Subtotal <small>&nbsp;( In @Model.Currency)</small></strong>
                                                                </td>
                                                                <td class="cart-product-name">
                                                                    <span class="amount">@GrandTotal</span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            <div class="col_full">
                                <p align="justify">@Model.Conditions</p>


                            </div>

                        </div>

                    </div>
                    @*-------------------------- Comment area -------------------------------------------*@
                    <div class="container">
                        <div id="comments" class="clearfix">
                            <div class="row">
                                <lable>New Comment </lable>
                                @Html.TextArea("Comment", "", 5, 124, htmlAttributes: new { @class = "form-control", @Maxlength = 2048, id = "Comment", @placeholder = "Comment here...." })
                                <div id="textarea_feedback" class="text-danger"></div>
                            </div>
                            <div class="row">
                                <br />  <input type="submit" id="create" value="Post" class="button button-3d button-rounded button-teal" style="float: right;" />
                            </div>
                            <h4 id="comments-title"><span>@ViewBag.CommentsCount</span> Comments</h4>
                            @if (JOComments != null)
                            {
                                <ol class="commentlist clearfix">
                                    <li class="comment even thread-even depth-1" id="li-comment-1">

                                        @foreach (var item in JOComments)
                                        {
                                            <div id="comment-1" class="col_full comment-wrap clearfix">
                                                <div class="comment-meta">
                                                    <div class="comment-author vcard">
                                                        <span class="comment-avatar clearfix">
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="comment-content clearfix">

                                                    <div class="comment-author"><span><b>@item.UserName</b>(@item.CommentedOn)</span></div>
                                                    <p>@item.JOComment</p>
                                                    <a class="comment-reply-link" id="yourreply" onclick="javascript: ShowHideDivOnButtonClick(@item.JOCommentId)" style="padding-right:5em" title="Reply"><i class="icon-reply"></i></a>
                                                    @if (user.Role == "Admin")
                                                    {
                                                        <a id="CommentRemove" onclick="javascript: ConfirmationDialogComment('@item.JOCommentId');" class="comment-reply-link" title="Remove"><i class="icon-line-cross"></i></a>
                                                    }
                                                </div>

                                                <div class="row comment-content clearfix" id="@item.JOCommentId" style="display:none">
                                                    <div class="col_full">
                                                        <lable>New Reply</lable>
                                                        @Html.TextArea("JOReply", "", 5, 124, htmlAttributes: new { @class = "form-control", @id = "JOReply" + item.JOCommentId, @Maxlength = 2048, @placeholder = "Reply here...." })
                                                        <br />  <input type="submit" value="Reply" class="button button-3d button-rounded button-teal" style="float: left;" onclick="SubmitData(@item.JOCommentId)" />
                                                    </div>
                                                </div>
                                                <br />
                                                @foreach (var ritem in JOReplies.Where(r => r.JOCommentId == item.JOCommentId))
                                                {

                                                    <ul class='children'>
                                                        <li>
                                                            <div id="comment-3" class="comment-wrap clearfix">
                                                                <div class="comment-meta">
                                                                    <div class="comment-author">
                                                                        <span><b>@ritem.UserName</b>(@ritem.RepliedOn)</span>
                                                                    </div>
                                                                    @if (ritem.JOReply != null)
                                                                    {
                                                                        <p>@ritem.JOReply </p>
                                                                    }
                                                                    @if (user.Role == "Admin")
                                                                    {
                                                                        <a id="ReplyRemove" onclick="javascript: ConfirmationDialogReply('@ritem.JOReplyId');" class="comment-reply-link" style="padding-top:8px;padding-right:2em" title="Remove"><i class="icon-line-cross"></i></a>
                                                                    }
                                                                </div>

                                                            </div>
                                                        </li>
                                                    </ul>
                                                }
                                            </div>
                                        }
                                </ol>
                            }
                            <div class="clear"></div>
                        </div>
                        @Html.Hidden("JobOrderNumber", ViewBag.JobOrderNumber as string)
                        @Html.Hidden("JobOrderStatus", ViewBag.JobOrderStatus as string)
                        @Html.Hidden("IsClientView", ViewBag.IsClientView as string)
                        @*@Html.Hidden("RedirectTo", Url.Action("CourseDetail", "TMS"))*@
                        @*@Html.Hidden("RedirectToReplies", Url.Action("RemoveReplies", "TMS"))*@
                        @Html.Hidden("RedirectTo", Url.Action("JobOrderDetails", "JobOrder", new { Area = "CMS", CV = ViewBag.IsClientView }))
                        @Html.Hidden("RedirectToHome", Url.Action("JobOrderDetails", "JobOrder", new { Area = "CMS"}))
                        @Html.Hidden("RedirectToRemove", Url.Action("RemoveJOComment", "JobOrder", new { area = "CMS" }))
                    </div>

                </div>

                @*For Question to upload or not *@
                @*<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="cutoff">
                    <div class="form-process"></div>
                    <div class="modal-dialog modal-lg">
                        <div class="modal-body">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Would you like to add some attachment</h4>
                                    <br />
                                    <center>
                                        <button type="button" class="button button-3d button-small button-rounded button-teal" onclick="attach('@Model.JobOrderNumber');">Yes</button> &nbsp;&nbsp; &nbsp;&nbsp;
                                        <button type="button" class="button button-3d button-small button-rounded button-red" onclick="location.href='@Url.Action("JobOrderDetails", "JobOrder", new { area = "CMS", Id = Model.JobOrderNumber, IsClientView = IsClientView, JobOrderStatus = "Completed" })'">No</button>
                                    </center>
                                </div>
                                <div class="modal-body" id="cndBody">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
    <div class="modal fade" id="Popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel17" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-body">
                <div class="modal-content ">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel17"><b>Help & Support</b> </h4>
                    </div>
                    <div class="modal-body">

                        <div class="tabs clearfix" id="tab-1">

                            <ul class="tab-nav clearfix">
                                <li><a href="#tabs-1"><nobr>Navigation</nobr></a></li>
                                <li><a href="#tabs-2">Page Elements </a></li>
                                <li><a href="#tabs-3">Video</a></li>
                            </ul>
                            <div class="tab-container">
                                <div class="tab-content clearfix" id="tabs-1">
                                    <h4> Navigation to view job order details  </h4>

                                    <img src="~/images/gif/Navigation to see deatils of joborder.gif" alt="Save icon" />
                                </div>
                                <div class="tab-content clearfix" id="tabs-2">
                                    <h6>	Click on Job Order Title to see full detail of job order   </h6>

                                    <img src="~/images/Images1/162.png" width="400" height="150" /><br>
                                    </br>


                                    <h6>This page contains details of Job order .</h6>

                                    <img src="~/images/Images1/175.PNG" />
                                    <h4>In this page you can see the job order status </h4>


                                    <img src="~/images/Images1/176.png" width="593" height="645">

                                    <h6>In this page you can see the job order Description</h6>
                                    <img src="~/images/Images1/177.png" width="593" height="645">

                                    <h6> 	In this page you can see the job order Subject. </h6>

                                    <img src="~/images/Images1/178.png" width="593" height="645">

                                    <h6> 	In this page you can see the job order details </h6>

                                    <img src="~/images/Images1/179.png" width="593" height="645">
                                    <h6> 	In this page you can see the job order Costing details. </h6>

                                    <img src="~/images/Images1/180.png" width="593" height="645">
                                </div>
                                <div class="tab-content clearfix" id="tabs-3">

                                    <h4> Training Video for Job Order Detail page  </h4>
                                    <iframe style="width:100%;height:200px" src="https://www.youtube.com/embed/Xj-bc_JW8Mo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                   
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>







                @*For Upload Attachment*@
                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="cutoff">
                    <div class="form-process"></div>
                    <div class="modal-dialog modal-lg">
                        <div class="modal-body">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Attach File</h4>
                                </div>
                                <div class="modal-body" id="cndBody">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="weburl" value="@Global.WebsiteUrl()" />
        }
    }
}

<script language="javascript">

    $(document).ready(function () {
        $('.form-process').fadeOut();

        $("#create").click(function(){
            if($("#Comment").val() == null || $("#Comment").val() == '')
            {
                $.alert({
                    title: 'Alert',
                    content: 'Add comment to post',
                    confirmButton: 'OK',
                    confirmButtonClass: 'button button-3d button-rounded button-red',
                    icon: 'icon-thumbs-down2 icon-2x ',
                    animation: 'zoom',
                    confirm: function () {
                    }
                });
                $("#Comment").focus();
                return false;
            }
            else{

                $('.form-process').fadeIn();
            }

        });

    });

    function ShowHideDivOnButtonClick(commentid) {
        $('#' + commentid).toggle("fast");
        return true;
    }
    //For Reply
    function SubmitData(JOCommentId) {
        $('.form-process').fadeIn();
        $.ajax({
            type: "post",
            url: "/CMS/JobOrder/JobOrderDetails",
            data: {
                Id: $('#JobOrderNumber').val(),
                JOCommentId: JOCommentId,
                JOReply: $('#JOReply'+JOCommentId).val(),
                JobOrderStatus:$('#JobOrderStatus').val(),
                CV:$('#IsClientView').val()
            },
            datatype: "json",
            traditional: true,
            success: function (data) {
                window.location = $('#RedirectTo').val();
            }
        });
    }

    function ConfirmationDialogReply(JOReplyId) {

        $.confirm({
            title: 'Confirmation',
            content: 'Are you sure you want to delete review?',
            confirmButton: 'Yes',
            confirmButtonClass: 'btn-info',
            cancelButton: 'No',
            cancelButtonClass: 'btn-warning',
            icon: 'fa fa-question-circle fa-2x',
            animation: 'scale',
            animationClose: 'top',
            confirm: function () {
                $('.form-process').fadeIn();
                $.ajax({
                    type: "post",
                    url: "/CMS/JobOrder/RemoveJOReply",
                    data: {
                        Id: $('#JobOrderNumber').val(),
                        JOReplyId: JOReplyId,
                        JobOrderStatus:$('#JobOrderStatus').val(),
                        CV:$('#IsClientView').val()
                    },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        window.location = $('#RedirectTo').val();
                    }
                });
            }
        });
        return false;
    }

    function ConfirmationDialogComment(JOCommentId) {

        $.confirm({
            title: 'Confirmation',
            content: 'Are you sure you want to delete comment?',
            confirmButton: 'Yes',
            confirmButtonClass: 'btn-info',
            cancelButton: 'No',
            cancelButtonClass: 'btn-warning',
            icon: 'fa fa-question-circle fa-2x',
            animation: 'scale',
            animationClose: 'top',
            confirm: function () {
                $('.form-process').fadeIn();
                $.ajax({
                    type: "post",
                    url: "/CMS/JobOrder/RemoveJOComment",
                    data: {
                        Id: $('#JobOrderNumber').val(),
                        JOCommentId: JOCommentId,
                        JobOrderStatus:$('#JobOrderStatus').val(),
                        CV:$('#IsClientView').val()
                    },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        window.location = $('#RedirectTo').val();
                    }
                });
            }
        });
        return false;
    }

    function ConfirmationDialog(JoborderNumber) {
        $.confirm({
            title: 'Confirmation',
            content: 'Are you sure you want to delete?',
            confirmButton: 'Yes',
            confirmButtonClass: 'btn-info',
            cancelButton: 'No',
            cancelButtonClass: 'btn-warning',
            icon: 'fa fa-question-circle fa-2x',
            animation: 'scale',
            animationClose: 'top',
            confirm: function () {
                var url = $("#RedirectToHome").val() + "?JobOrderNumber=" + JoborderNumber + "&UserAction=Delete&IsClientView=true";
                location.href = url;
            }
        });
        return false;
    }

    function attach(JobOrderNumber) {
        var paramPub;
        paramPub = "JobOrderNumber=" + JobOrderNumber;
        paramPub = $('#weburl').val() + "/CMS/JobOrder/UploadAttachment?" + paramPub;
        $('.form-process').fadeIn();
        $('#cndBody').load(paramPub);
        $("#cutoff").modal({
            backdrop: 'static',
            keyboard: false,
        })
    };

    //function Final() {
    //    $('#cndBody').load();
    //    $("#cutoff").modal({
    //        backdrop: 'static',
    //        keyboard: false,
    //    })
    //};

    function pagehelp() {
        $('#Popup').modal('show');
        $("#Popup").modal({
            backdrop: 'static',
            keyboard: false,
        })
    };
</script>