@model IEnumerable<AJSolutions.Models.ClientViewModel>

@{
    ViewBag.Title = "Admins";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
}


@using (Html.BeginForm())
{
    <div class="container">
        @if (Model != null)
        {
            if (Model.Count() > 0)
            {
                <div class="row">
                    <div class="fancy-title title-bottom-border title-right">
                        <h4>My Admins</h4>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped nobottommargin">
                            <tr>
                                <th>
                                    Name
                                </th>

                                <th>
                                    Registered On
                                </th>
                                <th>
                                    Last Logged On
                                </th>
                              
                                <th>
                                    Email Id 
                                </th>
                                <th>
                                    Contact
                                </th>
                                <th>
                                    Verify
                                </th>

                            </tr>

                            @foreach (var item in Model)
                            {

                                <tr>

                                    <td>
                                        @Html.ActionLink(item.Name, "ClientDetails", "DashBoard", new { area = "CMS", CorporateId = item.CorporateId }, htmlAttributes: new { target = "_blank" })
                                    </td>

                                    <td>
                                        @item.RegisteredOn
                                    </td>
                                    <td>
                                        @item.LastLogin
                                    </td>
                                    
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                                    </td>
                                    <td>
                                    
                                      @if(item.EmailConfirmed==true)
                                      {
                                          <label>VERIFIED</label>
                                          
                                      }

                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>

            }
            else
            {
                <div class="feature-box fbox-center fbox-bg fbox-border fbox-effect">
                    <div class="fbox-icon">
                        <i class="icon-thumbs-down2"></i>
                    </div>
                    <h3>No Clients<span class="subtitle"></span></h3>
                </div>
            }
        }
    </div>
    @Html.Hidden("RedirectTo", Url.Action("Clients", "User"));
}

<script>
    function submitform() {
        if ($("#PageSize :selected").val() != 0) {
            $('#spinner').show();
            var PageSize = $("#PageSize :selected").val();
            var url = $("#RedirectTo").val() + "&PageSize=" + PageSize;
            location.href = url;
        }
    }
</script>



