@using AJSolutions.Models
@model IncomeTaxSlab
@{
    ViewBag.Title = "IncomeTaxSlab";
    List<AJSolutions.Models.IncomeTaxSlab> slab = ViewData["Slabs"] as List<AJSolutions.Models.IncomeTaxSlab>;
}
@using (Html.BeginForm("IncomeTaxSlab", "Admin", FormMethod.Post, new { @area = "Admin", @class = "form-horizontal needs-validation", id = "IncomeTaxSlab", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("Result", ViewBag.Result as string)
    if (Model != null)
    {
        @Html.Hidden("IncomeTaxSlabId", Model.IncomeTaxSlabId)
    }
    <div class="container">
        <div id="contact-form-overlay" class="clearfix">
            <div class=" row">
                <div class="form-process"></div>
                <div class="fancy-title title-bottom-border">
                    <h4>Add Income Tax Slab</h4>
                </div>
                <div class="col_half">
                    @Html.LabelFor(model => model.IncomeTaxSlabFrom, "Income Tax Slab From")<small>*</small>
                    <div class="input-group divcenter">
                        <span class="input-group-addon"><i class="icon-banknote"> </i></span>
                        @Html.EditorFor(model => model.IncomeTaxSlabFrom, new { htmlAttributes = new { @class = "form-control required", id = "IncomeTaxSlabFrom", placeholder = "e.g. IncomeTaxSlabFrom" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.IncomeTaxSlabFrom, "", new { @class = "text-danger" })
                    <br /><br />
                    @Html.LabelFor(model => model.IncomeTaxSlabTo, "Income Tax Slab To")<small>*</small>
                    <div class="input-group divcenter">
                        <span class="input-group-addon"><i class="icon-clock"></i></span>
                        @Html.EditorFor(model => model.IncomeTaxSlabTo, new { htmlAttributes = new { @class = "form-control required", id = "IncomeTaxSlabTo", placeholder = "e.g. IncomeTaxSlabTo" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.IncomeTaxSlabTo, "", new { @class = "text-danger" })
                    <br /><br />
                    @Html.LabelFor(model => model.SecondaryAndHigherEducationCess, "Secondary And Higher EducationCess")<small>*</small>
                    <div class="input-group divcenter">
                        <span class="input-group-addon"><i class="icon-clock"></i></span>
                        @Html.EditorFor(model => model.SecondaryAndHigherEducationCess, new { htmlAttributes = new { @class = "form-control required", id = "SecondaryAndHigherEducationCess", placeholder = "e.g. SecondaryAndHigherEducationCess" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.SecondaryAndHigherEducationCess, "", new { @class = "text-danger" })
                </div>
                <div class="col_half col_last">
                    @Html.LabelFor(model => model.IncomeTaxRate, "Income Tax Rate")<small>*</small>
                    <div class="input-group divcenter">
                        <span class="input-group-addon"><i class="icon-clock"></i></span>
                        @Html.EditorFor(model => model.IncomeTaxRate, new { htmlAttributes = new { @class = "form-control required", id = "IncomeTaxRate", placeholder = "e.g. IncomeTaxRate" } })
                    </div>
                    <br /><br />
                    @Html.LabelFor(model => model.Educationcess, "Education cess")<small>*</small>
                    <div class="input-group divcenter">
                        <span class="input-group-addon"><i class="icon-clock"></i></span>
                        @Html.EditorFor(model => model.Educationcess, new { htmlAttributes = new { @class = "form-control required", id = "Educationcess", placeholder = "e.g. Educationcess" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.Educationcess, "", new { @class = "text-danger" })


                    @Html.ValidationMessageFor(model => model.IncomeTaxRate, "", new { @class = "text-danger" })
                    <br /><br /><br /><br />
                    <input type="submit" id="AddShift" value="Submit" class="button button-3d button-rounded button-teal" />

                </div>

            </div>
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="container">
            <div class="table-responsive">
                <table class="table table-bordered nobottommargin">
                    <tr>
                        <th>IncomeTaxSlabFrom</th>
                        <th>IncomeTaxSlabTo</th>
                        <th>IncomeTaxRate</th>
                        <th>Educationcess</th>
                        <th>SecondaryAndHigherEducationCess</th>                        
                        <th>Actions</th>
                    </tr>
                    @if (slab != null)
                    {
                        foreach (var item in slab)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IncomeTaxSlabFrom)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IncomeTaxSlabTo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IncomeTaxRate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Educationcess)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SecondaryAndHigherEducationCess)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "IncomeTaxSlab", "Admin", new { area = "Admin", IncomeTaxSlabId = item.IncomeTaxSlabId, UserAction = "Edit" }, new { title = "Edit" })
                                    |
                                    @Html.ActionLink("Delete", "IncomeTaxSlab", "Admin", new { area = "Admin", IncomeTaxSlabId = item.IncomeTaxSlabId, UserAction = "Delete" }, new { title = "Delete" })
                                </td>
                            </tr>
                        }
                    }
                </table>

            </div>
        </div>
    </div>
    @Html.Hidden("RedirectToHome", Url.Action("IncomeTaxSlab", "Admin", new { area = "Admin" }));
}
<script>
    $(document).ready(function () {
        if ($("#Result").val() != null && $("#Result").val() != "") {
            $.alert({
                title: 'Cheers',
                content: 'Your IncomeTaxSlab has been Deleted Successfully',
                confirmButton: 'OK',
                confirmButtonClass: 'btn btn-primary',
                icon: 'fa fa-thumbs-up fa-2x',
                animation: 'zoom',
                confirm: function () {
                    var url = $("#RedirectToHome").val();
                    location.href = url;
                }
            });
        }
    });


    $("#IncomeTaxSlab").validate({
        submitHandler: function (form) {
            $('.form-process').fadeIn()
            $.ajax({
                type: "post",
                url: "/Admin/Admin/IncomeTaxSlab",
                data: {
                    IncomeTaxSlabId: $('#IncomeTaxSlabId').val(),
                    IncomeTaxSlabFrom: $('#IncomeTaxSlabFrom').val(),
                    IncomeTaxSlabTo: $('#IncomeTaxSlabTo').val(),
                    IncomeTaxRate: $('#IncomeTaxRate').val(),
                    Educationcess: $('#Educationcess').val(),
                    SecondaryAndHigherEducationCess: $('#SecondaryAndHigherEducationCess').val()
                },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    $('.form-process').fadeOut()
                    $.alert({
                        title: 'Cheers',
                        content: ' Income Tax Slab Added<b> Successfully.</b>',
                        confirmButton: 'OK',
                        confirmButtonClass: 'btn btn-primary',
                        icon: 'fa fa-thumbs-up fa-2x',
                        animation: 'zoom',
                        confirm: function () {
                            var url = $("#RedirectToHome").val();
                            location.href = url;
                        }
                    });
                }
            });
        }
    });
</script>

