@model IEnumerable<AJSolutions.Models.ClientViewModel>

@{
    ViewBag.Title = "ThirdParty";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int Count = 0;
    var CountStr = "countdown-ex";
}


@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
            <a href="@Url.Action("Add", "User", new { Area = "Admin", Id = "VND" })"></a>
        </div>

        @if (Model != null)
        {
            if (Model.Count() > 0)
            {
                <div class="row">

                    <div class="fancy-title title-bottom-border  title-right">
                        <h4>My Vendors</h4>

                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped nobottommargin">
                            <tr>
                                <th>
                                    Name
                                </th>

                                <th>
                                    Registered On
                                </th>
                                <th>
                                    Last Logged In
                                </th>


                                <th>
                                    Department
                                </th>
                                <th>
                                    Email Id
                                </th>
                                <th>
                                    Contact
                                </th>
                                <th>
                                    Registered By
                                </th>


                            </tr>

                            @foreach (var item in Model)
                            {
                                Count = Count + 1;
                                CountStr = "countdown-ex" + Count;
                                <tr>

                                    <td>
                                        @Html.ActionLink(item.Name, "ThirdPatyDetails", "DashBoard", new { area = "CMS", CorporateId = item.CorporateId }, htmlAttributes: new { target = "_blank" })
                                        @*@Html.DisplayFor(modelItem => item.Name)*@
                                    </td>
                                    <td>
                                        @item.RegisteredOn
                                    </td>
                                    <td>
                                        @item.LastLogin
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Department)
                                    </td> 
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                                    </td>
                                    <td>@Html.ActionLink(item.RegisterBy, "AdminProfile", "Admin", new { area = "Admin", SubscriberId = item.SubscriberId }, htmlAttributes: new { target = "_blank" })</td>
                                   
                                </tr>
                            }

                        </table>


                    </div>
                </div>
            }
            if (Count == 0)
            {
                <div class="feature-box fbox-center fbox-bg fbox-border fbox-effect">
                    <div class="fbox-icon">
                        <i class="icon-thumbs-down2"></i>
                    </div>
                    <h3>No Third Party<span class="subtitle"></span></h3>
                </div>
            }
        }
    </div>
    @Html.Hidden("RedirectTo", Url.Action("ThirdParty", "User"));
}

<script>
    function submitform() {
        if ($("#PageSize :selected").val() != 0) {
            $('#spinner').show();
            var PageSize = $("#PageSize :selected").val();
            var url = $("#RedirectTo").val() + "&PageSize=" + PageSize;
            location.href = url;
        }
    }
</script>


