@model AJSolutions.Models.ResetPasswordView
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Areas/CMS/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ResetPassword", "User", FormMethod.Post, new { area = "CMS", @class = "form-horizontal needs-validation", @id = "resetpassword", @role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("DataStatus", ViewBag.status as string)


    <div class="container">
        <div class="si-sticky toast-top-left topmargin-sm">
            <a href="#" class="social-icon si-rounded si-colored si-aim si-small" onclick="pagehelp();" title="Help For You">
                <i class="icon-question"></i>
                <i class="icon-question"></i>
            </a>
        </div>

        <div id="contact-form-overlay" class="clearfix">
            <div class="form-process"></div>
            <div class="row">
                <div class="fancy-title title-bottom-border">
                    <h4>Change Password</h4>
                </div>
                <div class="col_one_fifth"></div>
                <span style="color:red">@ViewBag.Message</span>
                <div class="col_three_fifth">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.LabelFor(m => m.UserName, "User Name")
                    <div class="input-group divcenter">
                        <span class="input-group-addon"><i class="icon-lock"> </i></span>
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control required", placeholder = "UserName *", id = "UserName", onchange = "UserExist()" })
                    </div>
                    <br />
                    @Html.LabelFor(m => m.NewPassword, "New Password")
                    <div class="input-group divcenter">
                        <span class="input-group-addon"><i class="icon-lock"> </i></span>
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control required", placeholder = "New Password *", id = "NewPassword" ,@onchange="ValidatePass()"})
                    </div>
                    <br />
                    @Html.LabelFor(m => m.ConfirmPassword, "Confirm Password")
                    <div class="input-group divcenter">
                        <span class="input-group-addon"><i class="icon-lock"> </i></span>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control required", placeholder = "Confirm Password *", id = "ConfirmPassword" })
                    </div>
                    <br />
                    <button type="submit" id="password" class="button button-3d button-rounded button-teal" style="float:right">Change Password</button>
                </div>
                <div class="col_one_fifth"></div>
            </div>
        </div>
        <br /><center>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- JEResponsive -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-6029014565691295"
                 data-ad-slot="6109277368"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </center>
    </div>


    @Html.Hidden("RedirectTo", Url.Action("ResetPassword", "User", new { area = "CMS" }))
}
<script> 
    $("#resetpassword").validate({
        submitHandler: function (form) {
            $('.form-process').fadeIn()
            $(form).ajaxSubmit({
                success: function (data) {
                    $('.form-process').fadeOut()
                    if ((data) != "New Password & Confirm Password Not Matched.") {
                        $.alert({
                            title: 'Cheers',
                            content:data,
                            confirmButton: 'OK',
                            confirmButtonClass: 'btn btn-primary', 
                            icon: 'fa fa-thumbs-up fa-2x',
                            animation: 'zoom',
                            confirm: function () {
                                var url = $("#RedirectTo").val();
                                location.href = url;
                            }
                        });
                    }
                    else
                    {
                        $.alert({
                            title: 'Cheers',
                            content: data,
                            confirmButton: 'OK',
                            confirmButtonClass: 'btn btn-primary',
                            icon: 'fa fa-thumbs-up fa-2x',
                            animation: 'zoom',
                            confirm: function () {
                                 
                            }
                        });
                    }
                    return false;
                }
            });
        } 
    });
    function ValidatePass()
    {
        var pass = $('#NewPassword').val();
        if(pass.length!=6)
        {
            $.alert({
                title: 'Warning',
                content: 'Password must be atleast<b> 6 Char.</b>',
                confirmButton: 'OK',
                confirmButtonClass: 'btn btn-primary',
                icon: 'fa fa-thumbs-down fa-2x ',
                animation: 'zoom',
                confirm: function () {
                    $('#UserName').val("");
                }
            });
        }
    }

    function UserExist() {
        $.ajax({
            type: "post",
            url: "/User/UserExist",
            data: {

                UserName: $('#UserName').val()

            },
            datatype: "json",
            traditional: true,
            success: function (data) {
                if ((data)!= "Invalid UserName.") {
                    $.alert({
                        title: 'Cheers',
                        content: data,
                        confirmButton: 'OK',
                        confirmButtonClass: 'btn btn-primary',
                        icon: 'fa fa-thumbs-down fa-2x ',
                        animation: 'zoom',
                        confirm: function () {
                            $('#PhoneNumber').val("");
                        }
                    });
                }
                else
                {
                    $.alert({
                        title: 'Cheers',
                        content: data,
                        confirmButton: 'OK',
                        confirmButtonClass: 'btn btn-primary',
                        icon: 'fa fa-thumbs-down fa-2x ',
                        animation: 'zoom',
                        confirm: function () {
                            $('#UserName').val("");
                        }
                    });
                }
            }
        });
    }
</script>

