@using AJSolutions.Models;
@model AJSolutions.Models.UserIdentificationDetailsView
@{
    ViewBag.Title = "Identification Details";
    Layout = "~/Areas/Candidate/Views/Shared/_Layout.cshtml";
    IEnumerable<UserIdentificationDetailsView> identificationtype = ViewData["IdentificationType"] as IEnumerable<UserIdentificationDetailsView>;
}
@using (Html.BeginForm("IdentificationDetails", "Candidate", FormMethod.Post, new { @class = "form-horizontal", id = "IdentificationDetails", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("SaveStatus", ViewBag.Result as string)
    if(Model != null)
    {
        @Html.Hidden("IdentificationTypeId", Model.IdType)
    }
    <div class="container">

        <div class="si-sticky toast-top-left topmargin-sm">
            <a href="#" class="social-icon si-rounded si-colored si-aim si-small" onclick="pagehelp();" title="Help For You">
                <i class="icon-question"></i>
                <i class="icon-question"></i>
            </a>
        </div>

        <div id="contact-form-overlay" class="clearfix">
            <div class="form-process"></div>
            <div class="row">
                <div class="fancy-title title-bottom-border">
                    <h4>Identification Details</h4>
                </div>
                <div class="col_half">
                    <span><b>Id Type<small>*</small></b></span>
                    <div class="input-group divcenter">
                        <span class="input-group-addon"><i class="icon-list"> </i></span>
                        @Html.Hidden("IdentityType", ViewBag.IdentityType as string)
                        @if (ViewBag.Action == "Add")
                        {
                            @Html.DropDownList("IdentificationTypeId", null, "--- Select Identification Type ---", htmlAttributes: new { @class = "sm-form-control required", @id = "IdentificationTypeId" })
                        }
                        else
                        {
                            @Html.DropDownList("IdentificationTypeId", null, "--- Select Identification Type ---", htmlAttributes: new { @disabled = "disabled", @class = "sm-form-control", @id = "IdentificationTypeId" })
                        }
                    </div>
                    @Html.ValidationMessageFor(model => model.IdentificationTypeName, "", new { @class = "text-danger" })
                    <br>
                    <span><b>Id Number<small>*</small></b></span>
                    <div class="input-group divcenter">
                        <span class="input-group-addon"><i class="icon-file-text"> </i></span>
                        @Html.EditorFor(model => model.IdNumber, new { htmlAttributes = new { @class = "sm-form-control required", id = "IdNumber", placeholder = "Enter Id Number", name="IdNumber" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.IdNumber, "", new { @class = "text-danger" })
                    <br>

                </div>
                <div class="col_half col_last travel-date-group">
                    <span><b>Issuing Date<small>*</small></b></span>
                    <div class="input-group divcenter ">
                        <span class="input-group-addon"><i class="icon-calendar"> </i></span>
                        <input type="text" value="@ViewBag.issuingDate" class="sm-form-control past-enabled required" placeholder="DD/MM/YYYY" id="IssuingDate" name="IssuingDate">
                        @*@Html.EditorFor(model => model.IssuingDate, new { htmlAttributes = new { @class = "sm-form-control past-enabled", id = "IssuingDate", placeholder = "yyyy-MM-dd" } })*@
                    </div>
                    @Html.ValidationMessageFor(model => model.IssuingDate, "", new { @class = "text-danger" })
                    <br>
                    <span><b>Valid Till</b></span>
                    <div class="input-group divcenter travel-date-group">
                        <span class="input-group-addon"><i class="icon-calendar"> </i></span>
                        <input type="text" value="@ViewBag.validTill" class="sm-form-control past-enabled" placeholder="DD/MM/YYYY" id="ValidTill" name="ValidTill">
                        @*@Html.EditorFor(model => model.ValidTill, new { htmlAttributes = new { @class = "sm-form-control past-enabled", id = "ValidTill", placeholder = "yyyy-MM-dd" } })*@
                    </div>
                    @Html.ValidationMessageFor(model => model.ValidTill, "", new { @class = "text-danger" })
                    <br>
                </div>
                <br>
              
                <input type="submit" id="identificationdetails" value="Save" style="float: right;" class="button button-3d button-rounded button-teal" />

            </div>

        </div>
        <br /><br />
        <div class="row">

            <div class="table-responsive">
                <table class="table table-bordered nobottommargin">
                    <tr>
                        <th>
                            Identification Type Name
                        </th>
                        <th>
                            Id Number
                        </th>
                        <th>
                            Issuing Date
                        </th>
                        <th>
                            Valid Till
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>

                    @if (identificationtype != null)
                    {
                        foreach (var item in identificationtype)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdentificationTypeName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IssuingDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ValidTill)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "IdentificationDetails", "Candidate", new { IdentificationTypeId = item.IdType, useraction = "Edit" }, new { title = "Edit" })
                                    |
                                    <a href="#" id="Remove" onclick="javascript: ConfirmationDialog('@item.IdType');" title="Remove">Delete</a>
                                 </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>

        <br /><center><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                  <!-- JEResponsive -->
                  <ins class="adsbygoogle"
                       style="display:block"
                       data-ad-client="ca-pub-6029014565691295"
                       data-ad-slot="6109277368"
                       data-ad-format="auto"></ins>
                  <script>
                      (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
        </center>
        @Html.Hidden("RedirectTo", Url.Action("RemoveIdentificationDetails", "Candidate"))
        @Html.Hidden("RedirectToHome", Url.Action("IdentificationDetails", "Candidate"))
      
    </div>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="Popup">
        <div class="modal-dialog modal-lg">
            <div class="modal-body">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Help</h4>
                    </div>
                    <div class="modal-body" id="moBody">

                        <div class="container-fluid">
                            <div class="col_half">
                                <p>
                                    In this page candidates can provide their identification details like id proof, address proof etc.                             </p>

                            </div>
                            <div class="col_half col_last">
                                <div class="feature-box center media-box fbox-bg">
                                    <div class="fbox-media">

                                        <a href="~/images/HelpImages/identificationcandidate.png" target="_blank" data-lightbox="gallery-item">
                                            <img src="~/images/HelpImages/identificationcandidate.png" />

                                        </a>


                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    $("#IdentificationDetails").validate({
        submitHandler: function (form) {
            $('.form-process').fadeIn();        
            $.ajax({
                type: "post",
                url: "/Candidate/Candidate/IdentificationDetails",
                data: {
                    IdentificationTypeId:$('#IdentificationTypeId').val(),
                    IdNumber: $('#IdNumber').val(),
                    IssuingDate: $("#IssuingDate").val(),
                    ValidTill: $('#ValidTill').val(),
                    IdentificationTypeId: $('#IdentificationTypeId: selected').val()                    
                },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    $('.form-process').fadeOut()
                    $.alert({
                        title: 'Cheers',
                        content: 'Your Data has been saved <b> SUCCESSFULLY.</b>',
                        confirmButton: 'OK',
                        confirmButtonClass: 'btn btn-primary',
                        icon: 'fa fa-thumbs-up fa-2x',
                        animation: 'zoom',
                        confirm: function () {
                            var url = $("#RedirectToHome").val();
                            location.href = url;
                        }
                    });
                }                
            });

           
            //$(form).ajaxSubmit({
            //    success: function () {
            //        $('.form-process').fadeOut()
            //        $.alert({
            //            title: 'Cheers',
            //            content: 'Your Data has been saved <b> SUCCESSFULLY.</b>',
            //            confirmButton: 'OK',
            //            confirmButtonClass: 'btn btn-primary',

            //            icon: 'fa fa-thumbs-up fa-2x',
            //            animation: 'zoom',
            //            confirm: function () {
            //                var url = $("#RedirectToHome").val();
            //                location.href = url;
            //            }
            //        });
            //    }
            //});
        }
    });
</script>

<script type="text/javascript">
    //$('#identificationdetails').click(function (e) {
    //    e.preventDefault();

    //    if ($("#IdentificationTypeId :selected").val() == undefined || $('#IdentificationTypeId :selected').val() == '' || $('#IdentificationTypeId :selected').val() == 0) {
    //        $.alert({
    //            title: 'Alert',
    //            content: '<b>Id Type</b> is required',
    //            confirmButton: 'OK',
    //            confirmButtonClass: 'button button-3d button-rounded button-red',
    //            icon: 'icon-thumbs-down2 icon-2x ',
    //            animation: 'zoom',
    //            confirm: function () {
    //            }
    //        });
    //        $("#IdentificationTypeId").focus();
    //        return false;
    //    }

    //    if ($("#IdNumber").val() == undefined || $('#IdNumber').val() == '') {
    //        $.alert({
    //            title: 'Alert',
    //            content: '<b>Id Number</b> is required',
    //            confirmButton: 'OK',
    //            confirmButtonClass: 'button button-3d button-rounded button-red',
    //            icon: 'icon-thumbs-down2 icon-2x ',
    //            animation: 'zoom',
    //            confirm: function () {
    //            }
    //        });
    //        $("#IdNumber").focus();
    //        return false;
    //    }

  
    //    if ($("#IssuingDate").val() == undefined || $('#IssuingDate').val() == '') {
    //        $.alert({
    //            title: 'Alert',
    //            content: '<b>Issuing Date</b> is required',
    //            confirmButton: 'OK',
    //            confirmButtonClass: 'button button-3d button-rounded button-red',
    //            icon: 'icon-thumbs-down2 icon-2x ',
    //            animation: 'zoom',
    //            confirm: function () {
    //            }
    //        });
    //        $("#IssuingDate").focus();
    //        return false;
    //    }
       
        if ($("#IssuingDate").val() != undefined && $('#IssuingDate').val() != '' && $("#ValidTill").val() != undefined && $('#ValidTill').val() != '') {

            var issuing_date = $("#IssuingDate").val(); //2013-09-5
            var validtill_date = $("#ValidTill").val();

            if (Date.parse(validtill_date) <= Date.parse(issuing_date)) {
              
                $.alert({
                    title: 'Alert',
                    content: '<b>Valid Till Date</b> should be grater than <b>Issuing Date </b>',
                    confirmButton: 'OK',
                    confirmButtonClass: 'btn-primary',
                    icon: 'icon-thumbs-down2 icon-2x',
                    animation: 'zoom',
                    confirm: function () {
                    }
                });
                $("#ValidTill").focus();              
                return false;
            }
        }

        $('#IdentificationDetails').submit();
    });
</script>
<script type="text/javascript">

    //$(document).ready(function () {

    //    if ($('#SaveStatus').val() == "Succeeded") {
    //        $.alert({
    //            title: 'Cheers',
    //            content: 'Your Data has been saved <b> SUCCESSFULLY.</b>',
    //            confirmButton: 'OK',
    //            confirmButtonClass: 'btn btn-primary',
    //            icon: 'fa fa-thumbs-up fa-2x',
    //            animation: 'zoom',
    //            confirm: function () {
    //            }
    //        });
    //    }

    //});

    function ConfirmationDialog(IdType) {
        $.confirm({
            title: 'Confirmation',
            content: 'Are you sure you want to delete?',
            confirmButton: 'Yes',
            confirmButtonClass: 'button button-3d button-rounded button-green',
            cancelButton: 'No',
            cancelButtonClass: 'button button-3d button-rounded button-red',
            icon: 'icon-warning-sign icon-2x',
            animation: 'scale',
            animationClose: 'top',
            confirm: function () {
                var url = $("#RedirectTo").val() + "?Id=" + IdType;
                location.href = url;
            }
        });
        return false;
    }

</script>

<script type="text/javascript">
     
    function pagehelp() {
        $('#Popup').modal('show');
        $("#Popup").modal({
            backdrop: 'static',
            keyboard: false,
        })
    };
    </script>

<link href="~/css/jquery-confirm.css" rel="stylesheet" />
<script type="text/javascript" src="~/js/jquery-confirm.js"></script>
