@using AJSolutions.Models;
@using AJSolutions.DAL;

@{
    ViewBag.Title = "Check In & Check Out for Candidates";
    Layout = "~/Areas/CMS/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("BulkCheckInCheckOut", "Accommodation", FormMethod.Post, new { @class = "form-horizontal", id = "CandidateBulkUpload", enctype = "multipart/form-data", role = "form" }))
{
    @Html.Hidden("Success", ViewBag.result as string)

    <div class="container">
        <div id="contact-form-overlay" class="clearfix">
            <div class="row">
                <div class="form-process"></div>
                <div class="fancy-title title-bottom-border">
                    <h4>Candidate Bulk Upload</h4>
                </div>
                <br /><br />
                <div class="col_half filter-group">
                    <label>Select Course</label>
                    @Html.DropDownList("CorporateId", null, "---  Select Corporate ---", htmlAttributes: new { @class = "form-control", id = "CorporateId", placeholder = "Select Client" })
                </div>
                <div class="col_half col_last filter-group">
                    <label>Select Batch</label>
                    @Html.DropDownList("CorporateId", null, "---  Select Corporate ---", htmlAttributes: new { @class = "form-control", id = "CorporateId", placeholder = "Select Client" })
                </div>
                <br />
                <div class="col_full">
                    <center>
                        <ul class="process-steps process-3 bottommargin clearfix">
                            <li class="active">

                                <a href="@Url.Action("DownoladSample", "Candidate")" class=" i-bordered i-circled divcenter icon-download-alt"></a>
                                <h5>Download Template</h5>
                            </li>
                            <li>
                                <span class="i-bordered i-circled divcenter icon-table"></span>
                                <h5>Fill Excel sheet</h5>
                            </li>
                            <li>

                                <input type="file" name="FileUpload" id="csvFile" style="padding-left:12px;" class="icon-upload required" onchange="ValidatePreviewImage(@Global.MaxSize("CSV"), this, 'CSV')" />@*icon-upload-alt i-bordered i-circled divcenter*@
                                <h5>Select File to Upload</h5>
                                <label id="lblgetfilename"></label>
                            </li>
                        </ul>
                        <input type="submit" name="Submit" id="Submit" value="Upload" class="button button-3d button-rounded button-teal" />

                        <p>@Html.Encode(ViewData["Feedback"])</p>

                        @if (ViewBag.result == "Success")
                        {
                            @ViewBag.SuccessCount <span>uploaded Successfully</span><br />
                            @ViewBag.FailureCount <span>Failed</span><br />
                            if (@ViewBag.Download == "Yes")
                            {
                                <a href="~/CMS/Candidate/Downolad">Download Result</a>
                            }
                        }
                    </center>
                </div>
            </div>
        </div>
    </div>


    

}
<script src="~/Scripts/CustomValidation.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        if ($('#Success').val() == "Success") {
            $('.form-process').fadeOut();
        }

        $('#csvFile').change(function () {
            var path = $(this).val();
            if (path != '' && path != null) {
                var q = path.substring(path.lastIndexOf('\\') + 1);
                $('#lblgetfilename').html(q);
            }
        })

        $('#Submit').click(function () {
            if ($("#CorporateId").val() == undefined || $('#CorporateId').val() == '') {
                $.alert({
                    title: 'Alert',
                    content: 'Select <b>Corporate</b> for upload candidate',
                    confirmButton: 'OK',
                    confirmButtonClass: 'button button-3d button-rounded button-red',
                    icon: 'icon-thumbs-down2 icon-2x ',
                    animation: 'zoom',
                    confirm: function () {
                    }
                });

                return false;
            }

            var fileInput = document.getElementById('csvFile');
            if (fileInput.files.length == 0) {
                $.alert({
                    title: 'Alert',
                    content: 'Select <b>file</b> to upload',
                    confirmButton: 'OK',
                    confirmButtonClass: 'button button-3d button-rounded button-red',
                    icon: 'icon-thumbs-down2 icon-2x ',
                    animation: 'zoom',
                    confirm: function () {
                    }
                });

                return false;
            }
            $('.form-process').fadeIn();
        });
    });

</script>

