
<li class="nav-divider">
    <a class="nav-link" href="@Url.Action("Partner", "Dashboard", new { Area = "CMS" })"><i class="icon-home2"></i>Home</a>
</li>
<li class="nav-item ">
    <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="icon-bolt2"></i>My Account</a>
    <div id="submenu-1" class="collapse submenu" style="">
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="@Url.Action("MyProfile", "Dashboard", new { Area = "CMS" })"><i class="icon-info-sign"></i>My Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="@Url.Action("CompanyProfile", "Dashboard", new { Area = "CMS" })"><i class="icon-briefcase"></i>Company Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="@Url.Action("BankDetails", "Dashboard", new { Area = "CMS" })"><i class="icon-money"></i>Bank Details</a></li>
            <li class="nav-item"><a class="nav-link" href="@Url.Action("AddressDetails", "Dashboard", new { Area = "CMS" })"><i class="icon-location"></i>Address</a></li>
            <li class="nav-item"><a class="nav-link" href="@Url.Action("ChangePassword", "Manage", new { Area = "" })"><i class="icon-lock2"></i>Change Password</a></li>
        </ul>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="icon-play"></i>My Stuff</a>
    <div id="submenu-2" class="collapse submenu" style="">
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="@Url.Action("MyTasks", "Task", new { Area = "CMS" })">Tasks</a></li>
            <li class="nav-item"><a class="nav-link" href="@Url.Action("MyInvoices", "Invoice", new { Area = "CMS", Tag = "Any" })"><i class="icon-bill"></i>Invoices</a></li>
            <li class="nav-item"><a class="nav-link" href="@Url.Action("AddChannelPartner", "User", new { Area = "CMS" })"><i class="icon-user"></i>Add Channel Partner</a></li>
            <li class="nav-item"><a class="nav-link" href="@Url.Action("MyChannelPartner", "User", new { Area = "CMS" })"><i class="icon-user2"></i>My Channel Partner</a></li>
            <li class="nav-item"><a class="nav-link" href="@Url.Action("LeadDetails", "Candidate", new { Area = "CMS" })"><i class="icon-plus"></i>Add Candidate Leads</a></li>
            @*<li class="nav-item"><a class="nav-link" href="@Url.Action("DduGkyLeads", "Candidate", new { Area = "CMS" })">Add DDU-GKY Leads</a></li>*@
            <li class="nav-item"><a class="nav-link" href="@Url.Action("CandidateLeadUpload", "Candidate", new { Area = "CMS" })"><i class="icon-download"></i>BulkUpload Candidate Leads</a></li>
            <li class="nav-item"><a class="nav-link" href="@Url.Action("CandidateLeads", "Candidate", new { Area = "CMS" })"><i class="icon-user3"></i>My Candidate Leads</a></li>
        </ul>
    </div>
</li>
<li class="nav-item"><a class="nav-link" href="@Url.Action("MeetingMinutesListing", "User", new { area = "CMS" })"><i class="icon-list"></i>Meeting Minutes</a></li>
<li class="nav-item">
    <a class="nav-link" href="@Url.Action("Notifications", "UserNotification", new { Area = ""})">
        <i class="icon-briefcase"></i>Notifications @if (@ViewBag.NotificationCount != 0)
        {<label style="color:white" class="badge">@ViewBag.NotificationCount</label>}
    </a>
</li>

<li class="nav-item"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()"><i class="icon-login"></i>Logout</a></li>


