@using AJSolutions.Models;
@model EmployeeTour
@{
    ViewBag.Title = "TourDetails";
    Layout = "~/Areas/CMS/Views/Shared/_Layout.cshtml";
    TourAttachment tourattachment = ViewData["EmployeeTourData"] as TourAttachment;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Hidden("URL", ViewBag.Url as string)
    <div class="container">
        <div class="form-process"></div>
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="form-process"></div>
            <div class="fancy-title title-bottom-border">
                <h4>Tour Detail</h4>
            </div>
            <div class="col_full">
                @if (Model != null)
                {
                    <div class="col_half">
                        <b>  @Html.DisplayNameFor(model => model.Purpose) : </b>
                        @Html.DisplayFor(model => model.Purpose)
                    </div>
                    <div class="col_half col_last">
                        <b>  @Html.DisplayNameFor(model => model.Location) : </b>
                        @Html.DisplayFor(model => model.Location)
                    </div>

                    if (Model.TourFromDate != null)
                    {
                        <div class="col_half">
                            <b>  @Html.DisplayNameFor(model => model.TourFromDate) : </b>
                            <span> @Model.TourFromDate.ToString("dd-MMM-yyyy")</span>
                        </div>}
                    if (Model.TourToDate != null)
                    {
                        <div class="col_half col_last">
                            <b>  @Html.DisplayNameFor(model => model.TourToDate) : </b>
                            <span> @Model.TourToDate.ToString("dd-MMM-yyyy")</span>
                        </div>}
                        <div class="col_half">
                            <b>  @Html.DisplayNameFor(model => model.Observations) : </b>
                            @Html.DisplayFor(model => model.Observations)
                        </div>
                        <div class="col_half col_last">
                            <b>  @Html.DisplayNameFor(model => model.Conclusion) : </b>
                            @Html.DisplayFor(model => model.Conclusion)
                        </div>
                }
                @if (tourattachment != null)
                {
                    if (tourattachment.FileId != 0)
                    {
                        <a href="~/File/TourAttachmentFile?id=@tourattachment.FileId" alt="CV" target="_blank" title="Click here to download the logo"><i class="icon-clip"></i> &nbsp;Download your current logo</a>
                    }
                }
            </div>
        </div>
    </div>
}
@*<script>
        function GetContent(LectureId, FileId, ContentType) {
            $('.form-process').fadeIn();
            $.ajax({
                type: "post",
                url: "/CMS/Calendar/GetImageURL",
                data: {
                    Id: LectureId,
                    ContentFileId: FileId
                },
                datatype: "json",
                traditional: true,
                success: function (json) {
                    $('#LC-' + TourId + '').empty();
                    if (ContentType != "video/mp4" && ContentType != "video/3gp" && ContentType != "video/flv" && ContentType != "video/3gpp") {
                        $('#LC-' + LectureId + '').append('' +
                            '<object width="100%" height="400px" data=' + json + ' type=' + ContentType + '>' +
                             '<iframe width="100%" height="100%" src=' + json + ' style="border: solid;border-color:black">' +
                             'This browser does not support PDFs. Please download the PDF to view it: <a href=' + json + '>Download PDF</a>' +
                             '</iframe>' +
                             '</object>');
                    }
                    //else {
                    //    $('#LC-' + LectureId + '').append('' +
                    //       '<video id="myVideo" class="video-js" controls controlslist="nodownload" preload="none" width="960px;"  height="400px;"  data-setup="{}"> ' +
                    //       '<source src=' + json + ' type=' + ContentType + '>' +
                    //       '</video>');
                    //}
                    //$('#myVideo').bind('contextmenu', function () { return false; });

                    //if (window.matchMedia("(min-width: 450px)").matches) {
                    //    var myPlayer = videojs('myVideo');

                    //    resizeVideoJS();

                    //    function resizeVideoJS() {
                    //        var width = document.getElementById('myVideo').parentElement.offsetWidth;
                    //        myPlayer.width(width);
                    //    }
                    //    // Then on resize call resizeVideoJS()

                    //    window.onresize = resizeVideoJS;
                    //}
                    //else { }

                    $('.form-process').fadeOut();


                }
            });
        }
    </script>*@